.add-article-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 40px;
    background-color: lightcyan;
    padding: 30px;

}

.button {
    display: flex;
    background-color: #1565C0;
    border-radius: 40px;
    padding: 10px;
}

.forms{
    display: flex;
    justify-content: space-evenly;
    background-color: cadetblue;
    padding: 50px;
}

.delete-article-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border-radius: 40px;
    background-color: lightcyan;
    padding: 30px;
}
